html{
     background: linear-gradient(180deg, white, #F5FFFA;)no-repeat;
}

body {
   background: linear-gradient(180deg, #F5FFFA, white 99%) no-repeat;

}

.nBar {
  background-color: black;
  opacity: .9;
  color: white;
}

.patientList {
  border : 1px solid black;
  margin: 30px;
  border-radius: 15px;
}



